.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: auto;
    height: 100%;
  }
}

.cleanButton {
  background: transparent;
  border: 0px;
  padding: 0px;
}
