:root {
  --dark: #1c1e21;
  --grey: #363230;
  --highlight: #373a43;
  --primary: #fbeff0;
  --accent: #ffbb5c;
  --hover: #e05281;
  --font-sans: "Atkinson Hyperlegible";
  --font-title: "Lexend";
  --speed: 250ms;
  --ease: ease-out;
  --hover-scale: 1.075;
  --bar-height: 4rem;
  --icon-size: 3rem;
  --content-width: min(90vw, 1480px);
}

html,
body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
  color: var(--primary);
  font-family: var(--font-sans), sans-serif;
  line-height: 1.3em;
}

#__next > main {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - var(--bar-height));
  width: 100%;
}

* {
  box-sizing: border-box;
  line-height: 1.3em;
}

a {
  text-decoration: underline;
  color: var(--primary);
  transition: color var(--speed) var(--ease);
  &:hover {
    color: var(--hover);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}

hr {
  border-width: 0px;
  border-top: 1px solid var(--primary);
  margin: 0.5em 0px;
}

button,
input {
  font-family: inherit;
}

pre {
  white-space: pre;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;

  @media (--mq-large) {
    white-space: pre-wrap;
    overflow-x: hidden;
  }

  @media (--mq-medium) {
    max-width: 80%;
  }
}

.content-section {
  width: 100%;
  max-width: var(--content-width);
  margin: 1rem auto;
}

.content-columns {
  width: 100%;
  max-width: var(--content-width);
  margin: auto;

  @media (--mq-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }
}

.headline {
  width: max-content;
  max-width: 100%;
  background-color: var(--dark);
  margin: 0.5rem 0px;
  padding: 0.25rem 0.75rem;
}

p {
  text-align: justify;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

/**
 * Modified version of Monokai theme for Prism.JS by Martijn Swaagman
 *
 * @author Martijn Swaagman
 * @license MIT 2015
 */

code[class*="language-"],
pre[class*="language-"],
p code {
  background: var(--dark);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: var(--font-mono, monospace);
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  border-radius: 0.3em;

  & .namespace {
    opacity: 0.7;
  }
}

p code {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #778090;
  }

  &.punctuation {
    color: var(--primary);
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted,
  &.keyword {
    color: #f92672;
  }

  &.boolean,
  &.number {
    color: #ae81ff;
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: #a6e22e;
  }

  &.operator,
  &.entity,
  &.url,
  &.variable {
    color: #f8f8f2;
  }

  &.atrule,
  &.attr-value,
  &.function {
    color: #e6db74;
  }

  &.regex,
  &.important {
    color: #fd971f;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.language-css .token.string,
.style .token.string {
  color: var(--primary);
}
